/* BidForm.css */
.form-container {
    max-width: 400px;
    margin: 0 auto; /* Ustawienie marginesów na auto umieszcza kontener na środku */
    margin-top: 5%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group input[type="checkbox"] {
    width: calc(100% - 10px);
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group input[type="checkbox"] {
    width: auto;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }

  button {
    background-color: #4e5350;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  
  }
  
  button:hover {
    background-color: #424543;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .next-button {
    text-decoration: none; /* Remove underline from Link */
    font-size: 16px;
  }