.results-list {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .clicked-result-gap {
    margin-top: 10px;
    padding: 5px;
    border-top: 1px solid #ccc;
  }

  .clicked-result {
    /* margin-top: 20px; */
    padding: 5px;
    /* border-top: 1px solid #ccc; */
  }

  .clicked-result:hover {
    background-color: #efefef;
    cursor: pointer;
  }
  